{
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jasmine": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-unused-vars": 0,
    "semi": 2,
    "eol-last": 0,
    "no-undef": 0,
    "no-use-before-define": [2, "nofunc"],
    "no-underscore-dangle": 0,
    "no-shadow": 0,
    "dot-notation": 0,
    "no-new": 0,
    "no-multi-spaces": 0,
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"]
  }
}